<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzzd2sK_1tvJPwQnRvA_gw8Js1cxZxPJI</string>
	<key>GCM_SENDER_ID</key>
	<string>436723406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthpilot</string>
	<key>PROJECT_ID</key>
	<string>healthpilot-89733</string>
	<key>STORAGE_BUCKET</key>
	<string>healthpilot-89733.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436723406:ios:5be693ef93493a9fd83a9f</string>
</dict>
</plist>